{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Posts</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/create_posts.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    
    {% include 'styles.html' %}
</head>
<body>
    <div class="blur-wrapper {% if not is_logged_in %} blurred {% endif %} ">
        {% include 'header.html' %}

        <section class="create-posts">
            {% include 'sidebar.html' %}

            <form action="" method="POST" enctype="multipart/form-data" class="create-posts-container">
                {% csrf_token %}
                <h1 class="create-logo">Create Posts</h1>

                <hr class="create-separator">
                
                {% for message in messages %}
                    <p class="feedback" id="feedback">{{message}}</p>
                {% endfor %}

                <div class="title-container">
                    <label for="title">Title</label>
                    <input type="text" name="title">
                </div>

                <div class="image-container">
                    <label for="image">Image</label>
                    <div class="image" id="image">
                        <p id="image-preview">Drag & Drop or Upload a Media</p>
                    </div>

                    <input type="file" id="image-upload" name="image_upload" accept="image/*" style="display: none;">
                </div>

                <div class="description-container">
                    <label for="description">Description</label>
                    <textarea name="description" id="description"></textarea>
                </div>

                <button type="submit" class="post-btn">Post</button>
            </form>
        </section>

        {% include 'footer.html' %}
    </div>

    {% if not is_logged_in %}
        <div class="login-container">
            <div class="login-logo">
                <h1 class="logo-text">code</h1>
                <div class="login-side-logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="118" height="93" viewBox="0 0 118 93" fill="none">
                    <path d="M108 46L82.5 20L80.5 20.5L77.5 23.5V25.5L98.5 47L77.5 68L77 69.5L80.5 73H82.5L108 47V46Z" fill="white"/>
                    <path d="M68 10H66.5L46.5 79.5V81.5L50 83H51.5L72 12L71.5 11L68 10Z" fill="white"/>
                    <path d="M37 20H36L10 46V47.5L36 73H37.5L41 69.5L40.5 68L19.5 46.5L41.5 24.5L41 23.5L37 20Z" fill="white"/>
                    <path d="M108 46L82.5 20L80.5 20.5L77.5 23.5V25.5L98.5 47L77.5 68L77 69.5L80.5 73H82.5L108 47V46Z" stroke="#E1EBED"/>
                    <path d="M68 10H66.5L46.5 79.5V81.5L50 83H51.5L72 12L71.5 11L68 10Z" stroke="#E1EBED"/>
                    <path d="M37 20H36L10 46V47.5L36 73H37.5L41 69.5L40.5 68L19.5 46.5L41.5 24.5L41 23.5L37 20Z" stroke="#E1EBED"/>
                    </svg>
                    <h1>it</h1>
                </div>
            </div>

            <p class="information">...You need to login to proceed...</p>
            
            <div class="login-link">
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'create_account' %}">Signup</a>
            </div>
        </div>
    {% endif %}
    

    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/create_posts.js' %}"></script>
</body>
</html>